.page-template-about{
  .custom-hero{
    position:relative;
  }

  .entry-content{
    width:1120px;
    margin-left:auto;
    margin-right:auto;
   
   h2{
     font-size:2.5rem;
     font-weight:bold;
     text-align: center;
     text-transform: uppercase;
     margin-top:50px;
   }
     p{
       font-size:1rem;
       line-height: 1.75;
       font-weight: light;
      
     }
 }
 
}

.about-title{
  text-transform: uppercase;
  position: absolute;
  font-size:3rem;
  font-weight:bold;
  color:$color__background-screen;  
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

