/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.home .site-content, 
.page-template-about .site-content {
	width: 100%;
	max-width: 100%;
}

.site-content{
	// margin-top: 75px;
	margin: 50.59px auto 0 auto;
  display: flex;
  max-width: 1120px;
  min-height: 800px;
}

.content-area{
	width: 70%;
  flex: 3 1 70%;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

button{
	background:#248A83;
	box-shadow:none;
	font-size:$font_size;
	text-transform:uppercase;
}