
#colophon{
background-image: url('../../images/dark-wood.png');
.footer-container{
  margin:2.5rem;
  flex-basis:25%;
  }
}


  
  .site-footer{
     color:$color__background-body;
        
    }

  
h3 {
    color:$color_footer-brand;
    text-transform: uppercase;
  }
