
#colophon{
background-image: url('../../images/dark-wood.png');
.footer-container{
  margin:2.5rem;
  flex-basis:25%;
  }
    h3{
      color:$color_footer-brand;
      text-transform: uppercase;
    }
    
}


  
 
    
        
    

  
