.main-navigation{
  display: flex;
  justify-content:flex-end;
  padding-left:1.5rem;
  text-transform:uppercase;
  font-size:1rem;
  line-height:1.75rem;
  border-bottom: 1px solid $color__border-abbr;
  
    li{
      margin-left:10px; 
    }
      a{
        color:$color_menu-links;
      }
  }    

    