/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.hero-image{
 background:url('../../images/home-hero.jpg');  
 height: 100vh;
 background-size:cover;
 display: flex;
 justify-content: center;
 align-items: center;
 width:100%;
  }

.shop-items-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 1rem;
  width:1120px;
  margin-left:80px;
  
}

.shop-stuff-header{
  text-transform: uppercase;
  text-align: center;
  font-size:2.4rem;
  margin-bottom:3.75rem;
}

.category-item{
  border:$border_solid;
  width:auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:1rem;
  
    img{
      height: 70px;
      max-width:100%;
      align-self: auto;
    }
      a{
        margin-left:auto;
        text-decoration: none;
      }
       
}

.journal{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 1rem;
  width:1120px;
  margin-left:80px;
}

.inhabitent-joural-header{
  text-transform: uppercase;
  text-align: center;
  font-size:2.4rem;
  margin-bottom:3.75rem;
  font-family:Novecento Sans Web,sans-serif;
  
}

//archive product

.product-types{
 display:flex;
 justify-content: space-between;
 align-items: center;
  
  
   li{
     text-decoration:none;
   }
    a{
      text-decoration:none;
      text-transform:uppercase;
    }
}

ul{
  list-style-type: none;
}


// journal



.journal-title{
  background:#248A83;
	box-shadow:none;
	font-size:$font_size;
  text-transform:uppercase;
  color:$color;
  margin-top:1rem;
  position:relative;
    a{
      color:$color;
    }
}

.entry-header{
  position:relative;
}
.entry-content{
   a{
     color:$color;
   }
}


.entry-meta{
  background:#248A83;
	box-shadow:none;
	font-size:$font_size;
  text-transform:uppercase;
  color:$color;
  margin-top:1rem;
    a{
      color:$color;
    }
}