/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.hero-image{
 background:url('../../images/home-hero.jpg');  
 height: 100vh;
 background-size:cover;
 display: flex;
 justify-content: center;
 align-items: center;
 width:100%;
  }

.shop-items-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 1rem;
  width:1120px;
  margin-left:80px;
  
}

.shop-stuff-header{
  text-transform: uppercase;
  text-align: center;
  font-size:1.5rem;
  margin-bottom:3.75rem;
}

.category-item{
  border:$border_solid;
  width:auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:1rem;
 
  
    img{
      height: 70px;
      max-width:100%;
      align-self: auto;
    }
      a{
        margin-left:auto;
        text-decoration: none;
        color:$color;
      }
       
}


.journal{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 1rem;
  width:1120px;
  margin-left:80px;
  margin-right:80px;
  position: relative;
  
    img{
      height: 244px;
      width:100%;
      
    }
}

.inhabitent-joural-header{
  text-transform: uppercase;
  text-align: center;
  font-size:2.4rem;
  margin-bottom:3.75rem; 
}

.journal-box{
  border:$border_solid;
  height:auto;
  padding:21px;
}

.entry-journal-meta{
  font-size:0.75rem;
  margin-bottom:5px;
    
}

.journal-title-meta{
  font-size:1.3rem;  
  line-height: 1.25rem;
  text-transform:uppercase;
     a{
       color:#248A83;
       text-decoration:none;

       &:hover {
        color:black;
     }
    }
}

.read-entry{
  letter-spacing:1.5px;
  background-color:white;
  margin-top:30px;
    a{
    border:1px solid black;
    text-decoration: none;
    text-transform:uppercase;
    font-size:1rem; 
    color:black;
    padding:11px;

    &:hover {
      background-color:#248A83;
      $color:color;

    }
  }
}
      
    
//adventure pictures

.adventure{
  text-transform: uppercase;
  text-align: center;
  font-size:2.4rem;
  margin-bottom:3.75rem;
  
}

.adventure-container{
  display:grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  height:600px;
  grid-gap:1rem;
  justify-content: center;
  margin:50px;

  
    h3{
      color:$color;
      background-color:transparent;
      display:inline-block;
      font-size:2.5rem;
      line-height: 1.25;
      letter-spacing: 1;
    
      
    }
      button{
       background:none;
       border:1px solid #fff;
       box-shadow:none;
       color:white;
       text-transform:upppercase;
      }
}

.canoe{
  background:url(../../images/canoe-girl.jpg) center;
  background-size:cover;
  height: 100%;
  width:100%;
  grid-row-start:span 2;
    
}

.beach{
  background: url(../../images/beach-bonfire.jpg) center;
  background-size:cover;
  height:100%;
  grid-column-start:span 2;
  
}

.mountain{
  background:url(../../images/mountain-hikers.jpg) center;
  height:100%;
    
}

.star{
  background:url(../../images/night-sky.jpg) center;
  height:100%;
  
}

.adventures{
  background:$color_brand-primary;
  padding:1rem;
  color:$color;
  margin-left:36px;
}


//archive product

.product-types{
 display:flex;
 justify-content: space-between;
 align-items: center;
  
  
   li{
     text-decoration:none;
   }
    a{
      text-decoration:none;
      text-transform:uppercase;
    }
}

ul{
  list-style-type: none;
}


// journal

.journal-container{
  position:relative
}

.journal-title{
  background:#248A83;
	box-shadow:none;
	font-size:$font_size;
  text-transform:uppercase;
  color:$color;
  margin-top:1rem;
  position: relative;
  top:0;
    a{
      color:$color;
    }
}

.blog {
  .entry-header {
    position:relative;
    display: inline-block;
    h1 {
      position: absolute;
      top: 0;
      left:0;
    }
    .entry-meta {
      position: absolute;
      bottom:8px;
      right:0;
    }
  }
}

.entry-content{
   a{
     color:$color;
   }
   
}


.entry-meta {
  background:#248A83;
	box-shadow:none;
	font-size:$font_size;
  text-transform:uppercase;
  color:$color;
  margin-top:1rem;
  
}



//archive-product

.page-header{
  text-transform:uppercase;
  font-size:1.2rem;
  font-weight: bold;
  display: grid;
  column-span: 2;
  width:100%;
  justify-content: center;

 .product-types{
   margin:0 0 1em 0;
   padding:0;
 }
 
    li{
      align-self: center;
    }


}

.page-title{
  text-align: center;
}

